*{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	padding-top: 82px;
	font-family: "Lato Cyrillic", Helvetica, Arial, sans-serif !important;
	font-size: 16px;
	color: #000;
	line-height: 1;
	overflow-x: hidden; 

	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
}

.container{
	width: 1120px;
	margin: 0 auto;
}

.container:after{
	content: '';
	display: block;
	clear: both;
}

div{
	position: relative;
}

.clear{
	clear: both;	
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

a{
	text-decoration: none;
	color: #000;

	-webkit-transition:	all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	-o-transition:		all 0.3s ease;
	transition:			all 0.3s ease;
}

a:hover, a:focus, a:active{
	outline: none;
}

ul{
	list-style: none;
}

.us, .btn{
	-webkit-user-select:	none;
    -moz-user-select:		none;
    -ms-user-select:		none;
    user-select:			none;
}

.ap{
	-webkit-appearance:	none;
    -moz-appearance:	none;
    -ms-appearance:		none;
    -o-appearance:		none;
    appearance:			none;
}

.br{
	-webkit-border-radius:	50%;
	-moz-border-radius:		50%;
	border-radius:			50%;	
}

.ops{
	-moz-opacity:	0.5;
	-khtml-opacity: 0.5;
	opacity:        0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.bs{
	-o-background-size:			cover;
	-webkit-background-size:	cover;
	-khtml-background-size:   	cover;
	-moz-background-size:     	cover;
	background-size:          	cover;
}

.bsh{
	-moz-box-shadow:	inset 4px 7px 7px 0px rgba(5,5,5,0.48);
	-webkit-box-shadow: inset 4px 7px 7px 0px rgba(5,5,5,0.48);
	box-shadow: 		inset 4px 7px 7px 0px rgba(5,5,5,0.48);
}

.text-center{
	text-align: center;
}

.di{
	display: inline-block;
}

.tc{
	display: table-cell;
	vertical-align: middle;
}

img{
	vertical-align: middle;
	border: 0;
	max-width: 100%;
	height: auto;
}

.row:after{
	content: '';
	display: block;
	clear: both;
}

.col-1{
	width: 100%;
	float: left;
}

.col-2{
	width: 50%;
	float: left;
}

.col-3{
	width: 33.3333%;
	float: left;
	text-align: center;
}

.col-4{
	width: 25%;
	float: left;
}

.col-5{
	width: 20%;
	float: left;
}

.col-6{
	width: 16.66667%;
	float: left;
}

.col-7{
	width: 14.285714285714286%;
	float: left;
}

.col-8{
	width: 12.5%;
	float: left;
}

.col-9{
	width: 11.11111111111111%;
	float: left;
}

.row-justify{
    text-align: justify;
}

.row-justify:before {
    content: '';
    width: 100%;
    display: block;
    height: 0;
}

.row-justify:after {
    content: '';
    display: inline-block;
    text-align: justify;
    height: 0;
    width: 100%;
}

.col-justify{
	display: inline-block;
}

.youtube-r{
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow:hidden; 
}

.youtube-r iframe{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%; 
}

input[type="text"]::-webkit-input-placeholder { color: #000; }
input[type="text"]:-moz-placeholder { color: #000; }

textarea::-webkit-input-placeholder { color: #000; }
textarea:-moz-placeholder { color: #000; }

input[type="text"]{
	-webkit-appearance: none;
    border-radius: 0;
    font: inherit;
}

textarea{
	font: inherit;
	resize: none;
}

select{
	font: inherit;
    line-height: inherit;
	-webkit-appearance: none;
    border-radius: 0
}

input:focus,
select:focus,
textarea:focus{
	outline: none;
}


.b-top{
	padding-top: 6px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background: #fff;
	z-index: 100;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.05), inset 0 -1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,.05), inset 0 -1px rgba(0,0,0,.1);
	box-shadow: 0 3px 5px rgba(0,0,0,.05), inset 0 -1px rgba(0,0,0,.1);
}

.top-logo-wrap{
	float: left;
}

.top-logo{
	display: inline-block;
	padding-left: 17px;
	top: -8px;
}

.top-logo_text{
	display: inline-block;
	color: #2c2c2c;
	font-size: 13px;
	line-height: 18px;
	padding-top: 14px;
	padding-left: 29px;
}

.top-menu{
	float: left;
	padding-left: 33px;
	padding-top: 22px;
}

.top-menu li{
	text-transform: uppercase;
	display: inline-block;
	margin: 0 19px;
}

.top-menu li a{
	color: #2c2c2c;
	font-size: 14px;
}

.top-menu li a span{
	-webkit-transition:	all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	-o-transition:		all 0.3s ease;
	transition:			all 0.3s ease;
	border-bottom: 1px solid transparent;
	display: inline-block;
	padding-bottom: 8px;
}

.top-menu li a.active span,
.top-menu li a:hover span{
	border-bottom-color: #f44236;
}

.top-phone{
	top: 5px;
	padding-top: 15px;
	float: right;
	padding-right: 17px;
}

.top-phone a{
	position: relative;
	color: #2c2c2c;
	font-size: 22px;
	letter-spacing: 0.4px;
}


.menu-mobile-btn{
	display: none;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #2196f3;
	float: left;
	position: relative;
	top: 5px;
}

.menu-mobile-btn.open span{
    background: 0 0;
    top: 20px;
}

.menu-mobile-btn span{
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 1px;
    background: #2196f3;
}

.menu-mobile-btn span:after, .menu-mobile-btn span:before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 1px;
    background: #2196f3;
    content: '';
    -webkit-transition-duration: .3s,.3s;
    transition-duration: .3s,.3s;
    -webkit-transition-delay: .3s,0s;
    transition-delay: .3s,0s;
}

.menu-mobile-btn span:before {
    top: -7px;
    -webkit-transition-property: top,-webkit-transform;
    transition-property: top,transform;
}

.menu-mobile-btn span:after {
    bottom: -7px;
    -webkit-transition-property: bottom,-webkit-transform;
    transition-property: bottom,transform;
}

.menu-mobile-btn.open span:before {
    -webkit-transition-property: top,-webkit-transform;
    transition-property: top,transform;
}

.menu-mobile-btn.open span:before {
    top: -1px;
    height: 1px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-mobile-btn.open span:after {
    bottom: 1px;
    height: 1px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-mobile-btn.open span:after, .menu-mobile-btn.open.open span:before {
    -webkit-transition-delay: 0s,.3s;
    transition-delay: 0s,.3s;
}


.b-top2{
	color: #fff;
	text-align: center;
	background: #8bc24a;
	height: 130px;
	margin-top: 4px;
	padding-top: 18px;
	overflow: hidden;
}

.b-top2 .container{
	z-index: 1;
}

.b-top2:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: url('../img_handbage/top-2-left.png') no-repeat;
}

.b-top2:after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: url('../img_handbage/top-2-right.png') no-repeat 100% 0;
}

.top2-title{
	font-size: 53px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.top2-text{
	font-size: 25px;
	margin-top: 10px;
}

.top2-text span{
	color: #4caf52;
	margin: 0 23px;
}

.b-main{
	margin-top: 37px;
	margin-bottom: 127px;
}

.main-top-wrap{
	text-align: center;
}

.main-top{
	display: inline-block;
	text-align: center;
}

.main-top-yellow{
	float: left;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	height: 55px;
	line-height: 55px;
	background: #fff83c;
	color: #000;
	-webkit-border-radius:	28px;
	-moz-border-radius:		28px;
	border-radius:			28px;
	padding: 0 38px;
	margin-right: 14px;
}

.main-top-btn{
	float: right;
	margin-left: 14px;
	padding: 0 33px;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	color: #8bc24a;
	border: 1px solid #8bc24a;
	height: 55px;
	line-height: 53px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-border-radius:	28px;
	-moz-border-radius:		28px;
	border-radius:			28px;
}

.main-top-btn:hover{
	background: #fff83c;
	border: none;
	color: #fff;
}

.main-metro{
	margin-top: 0;
	font-size: 22px;
	text-align: center;
}

.main-metro-left{
	color: #000;
}

.main-metro-left span{
	line-height: 30px;
	border-bottom: 1px solid #000;
	display: inline-block;
	padding-bottom: 1px;
}

.main-metro-right{
	position: relative;
	margin-left: 10px;
	padding-left: 51px;
	color: #000;
}

.main-metro-right:before{
	content: '';
	position: absolute;
	left: 0;
	top: -5px;
	width: 40px;
	height: 28px;
	background: url('../img_handbage/main-metro.png');
}

.main-row{
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 30px;
}

.main-row .col-3{
	padding: 0 15px;
}

.main-row-box{
	text-align: center;
	padding-left: 36px;
}

.main-row-box-price{
	position: absolute;
	left: 50%;
	color: #f44236;
}

.main-row-box-price span{
	text-transform: uppercase;
	position: absolute;
	width: 100%;
	-webkit-transform: rotate(-10.5deg);
	-ms-transform: rotate(-10.5deg); 
	transform: rotate(-10.5deg);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.main-row-box-1 .main-row-box-price{
	margin-left: -112px;
	width: 264px;
	height: 120px;
	top: 9px;
	background: url('../img_handbage/main-price-1.png') no-repeat;
}

.main-row-box-2 .main-row-box-price{
	margin-left: -100px;
	width: 244px;
	height: 117px;
	top: 9px;
	background: url('../img_handbage/main-price-2.png') no-repeat;
}

.main-row-box-3 .main-row-box-price{
	margin-left: -95px;
	width: 224px;
	height: 113px;
	top: 9px;
	background: url('../img_handbage/main-price-3.png') no-repeat;
}

.main-row-box-1 .main-row-box-price span{
	font-size: 43px;
    left: -12px;
    top: 33px;
}

.main-row-box-2 .main-row-box-price span{
	font-size: 43px;
    left: -12px;
    top: 31px;
}

.main-row-box-3 .main-row-box-price span{
	font-size: 43px;
    left: -12px;
    top: 30px;
}

.main-row-box-top{
	width: 36px;
	position: absolute;
	height: 335px;
	bottom: 9px;
	left: 0;
	/*color: #8f9ce2;*/
	color: #000;
}

.main-row-box-right{
    height: 36px;
    position: absolute;
    bottom: -51px;
    left: 62px;
    right: 0;
}

.main-row-box-top:before{
	content: '';
	position: absolute;
	background: #abadb4;
	width: 1px;
	height: 100%;
	right: 0;
}

.main-row-box-top:after{
	content: '';
	position: absolute;
	width: 15px;
	height: 8px;
	background: url('../img_handbage/main-arrow-top.png') no-repeat;
    top: -1px;
    right: -7px;
}

.main-row-box-top span{
	letter-spacing: 1.5px;
	position: absolute;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg); 
	transform: rotate(-90deg);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	width: 344px;
	text-align: center;
	font-size: 24px;
	color: #000;
	left: 0;
    top: 100%;
}

.main-row-box-right:before{
	content: '';
	position: absolute;
	background: #abadb4;
	height: 1px;
	width: 100%;
	left: 0;
}

.main-row-box-right:after{
	content: '';
	position: absolute;
	width: 8px;
	height: 15px;
	background: url('../img_handbage/main-arrow-right.png') no-repeat;
    top: -7px;
    right: -1px;
}

.main-row-box-right span{
	letter-spacing: 1.5px;
	text-align: center;
	font-size: 24px;
	color: #000;
	display: inline-block;
    padding-top: 8px;
}

.main-row-box-2 .main-row-box-top{
    height: 304px;
}

.main-row-box-2 .main-row-box-top span,{
	width: 304px;
}

.main-row-box-3 .main-row-box-top{
    height: 250px;
}

.main-row-box-3 .main-row-box-top span{
	width: 250px;
}

.main-bottom{
    letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	color: #292929;
	font-size: 49px;
	padding-bottom: 28px;
    border-bottom: 1px solid #292929;
}

.main-bottom span{
	top: 8px;
	color: #ff9700;
	position: relative;
}

.main-bottom span:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: #ff9700;
	bottom: -21px;
	left: 0;
}

.block5{
	padding-top: 80px;
}

.catalog-section{
	margin-top: 77px;
}

.calalog-center{
	width: 446px;
	left: 288px;
	float: left;
}

.calalog-center-border{
	border: 1px solid #fec107;
	width: 446px;
	height: 497px;
}

.calalog-center-border img{
    display: block;
    margin: 13px auto;
    max-width: 100%;
    cursor: pointer;
}

.calalog-info{
	margin-top: 5px;
}

.calalog-info:after{
	content: '';
	display: block;
	clear: both;
}

.calalog-info-left{
	float: left;
	width: 55%;
	padding-right: 15px;
}

.calalog-info-right{
	float: left;
	width: 45%;
	padding-left: 15px;
}

.calalog-info a{
	color: #010101;
	font-size: 20px;
	margin-left: 31px;
	margin-top: 15px;
	display: inline-block;
}

.calalog-info a:before{
	content: '';
	position: absolute;
	width: 18px;
	height: 13px;
	left: 0;
	top: 20px;
	background: url('../img_handbage/catalog-check-green.png') no-repeat;
}

.catalog-left{
	float: left;
	width: 288px;
	right: 446px;
}

.catalog-left-inner{
	padding-right: 30px;
}

.catalog-left-inner .item{
	border: 1px solid #e3e3e3;
	height: 174px;
	margin-bottom: 15px;
}

.catalog-left-inner .item .img{
	float: right;
	width: 50%;
	padding-top: 5px;
	padding-right: 5px;
	cursor: pointer;
}

.catalog-left-inner .item .info{
	float: left;
	width: 50%;
	padding-top: 60px;
	padding-left: 23px;
	font-size: 22px;
}

.catalog-left-inner .item .info .info-p1{
	color: #ee3e1b;
	text-transform: uppercase;
}

.catalog-left-inner .item .info .info-p2{
	margin-top: 5px;	
}

.catalog-right{
	float: left;
	width: 386px;
	padding-left: 30px;
}

.color h5{
	font-size: 22px;
	text-transform: uppercase;
	margin-top: -4px;
}

.color ul{
	margin-top: 17px;
}

.color li{
	width: 25px;
	height: 25px;
	-webkit-border-radius:	50%;
	-moz-border-radius:		50%;
	border-radius:			50%;
	position: relative;
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 5px;
	border: 1px solid;
	border-color: lightgray;
}

.color :before{
	content: '';
	position: absolute;
	left: -4px;
	right: -4px;
	bottom: -4px;
	top: -4px;
	border: 1px solid #ffc878;
	-webkit-border-radius:	50%;
	-moz-border-radius:		50%;
	border-radius:			50%;
	-webkit-transition:	all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	-o-transition:		all 0.3s ease;
	transition:			all 0.3s ease;
	opacity: 0;
}

.color li:hover:before,
.color li.active:before{
	opacity: 1;
}

.color li.active:after{
	content: '';
	position: absolute;
	background: url('../img_handbage/catalog-check-white.png') no-repeat 50% 50%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.color li a{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	-webkit-border-radius:	50%;
	-moz-border-radius:		50%;
	border-radius:			50%;
	z-index: 1;
}

#budget .color-purple{
  background: #9966ED;
}
#budget .color-brown{
  background: #603813;
}
#budget .color-gray{
  background: #959595;
}
#budget .color-orange{
  background: #ff7526;
}
#budget .color-pink{
  background: #e90888;
}
#budget .color-darkblue{
  background: #00008b;
}
#budget .color-coffee{
  background: #9186a4;
}
#budget .color-black{
  background: #000;
}
#budget .color-red{
  background: #ED0000;
}
#budget .color-yellow{
  background: #ffff00;
}
#budget .color-green{
  background: #02d002;
}
#budget .color-blue{
  background: #2739b1;
}
#budget .color-skyblue{
  background: #4988E9;
}
#budget .color-pink{
  background: #dc1a88;
}
#budget .color-purepink{
  background: #EE789F;
}
#budget .color-beige{
  background: #c47f5e;
}
#budget .color-gold{
  background: #c8a353;
}
#budget .color-vinous{
  background: #590000;
}
#budget .color-white{
  background: #fff;
  border: 1px solid #e9e9e9;
}
/*new styles begin*/
#budget .color-beryuza{
	background: #a4e6d8;
}
#budget .color-ligth_blue{
	background: #51c3db;
}
#budget .color-dark_gold{
	background: #94836f;
}
#budget .color-ligth_pink{
	background: #efa2cc;
}
#budget .color-raspberry{
	background: #d03a77;
}
#budget .color-samolet2 {
	background: url("../img_handbage/bags/polikarbonat/patterns/samolet2.png") no-repeat 50% 50%;
	background-size: 100%;
}
#budget .color-pink_castle {
	background: url("../img_handbage/bags/polikarbonat/patterns/pink-castle.png") no-repeat 50% 50%;
	background-size: 100%;
}
#budget .color-postcard {
	background: url("../img_handbage/bags/polikarbonat/patterns/postcard.png") no-repeat 50% 50%;
	background-size: 100%;
}
#budget .color-new_york {
	background: url("../img_handbage/bags/polikarbonat/patterns/new-york.png") no-repeat 50% 50%;
	background-size: 100%;
}
#budget .color-night_london {
	background: url("../img_handbage/bags/polikarbonat/patterns/night-london.png") no-repeat 50% 50%;
	background-size: 100%;
}
#budget .color-london {
	background: url("../img_handbage/bags/polikarbonat/patterns/london.png") no-repeat 50% 50%;
	background-size: 100%;
}
#budget .color-balloon {
	background: url("../img_handbage/bags/polikarbonat/patterns/balloon.png") no-repeat 50% 50%;
	background-size: 100%;
}
#budget .color-venice {
	background: url("../img_handbage/bags/polikarbonat/patterns/venice.png") no-repeat 50% 50%;
	background-size: 100%;
}
#budget .color-red_butterfly {
	background: url("../img_handbage/bags/polikarbonat/patterns/red-butterfly.png") no-repeat 50% 50%;
	background-size: 100%;
}
#budget .color-ligth_blue_butterfly {
	background: url("../img_handbage/bags/polikarbonat/patterns/ligth-blue-butterfly.png") no-repeat 50% 50%;
	background-size: 100%;
}
#budget .color-green_butterfly {
	background: url("../img_handbage/bags/polikarbonat/patterns/green-butterfly.png") no-repeat 50% 50%;
	background-size: 100%;
}
#budget .color-yellow_butterfly {
	background: url("../img_handbage/bags/polikarbonat/patterns/yellow-butterfly.png") no-repeat 50% 50%;
	background-size: 100%;
}

/*new styles end*/
#budget .color-babochka{
    background: url("../img_handbage/bags/polikarbonat/patterns/babochka.png") no-repeat 50% 50%;
    background-size: 100%;
}
#budget .color-parish{
    background: url("../img_handbage/bags/polikarbonat/patterns/parish.png") no-repeat 50% 50%;
    background-size: 100%;
}
#budget .color-samolet{
    background: url("../img_handbage/bags/polikarbonat/patterns/samolet.png") no-repeat 50% 50%;
    background-size: 100%;
}
#budget .color-italia{
    background: url("../img_handbage/bags/polikarbonat/patterns/italia.png") no-repeat 50% 50%;
    background-size: 100%;
}
#budget .color-road{
    background: url("../img_handbage/bags/polikarbonat/patterns/road.png") no-repeat 50% 50%;
    background-size: 100%;
}
#budget .color-lightparis{
    background: url("../img_handbage/bags/polikarbonat/patterns/lightparis.png") no-repeat 50% 50%;
    background-size: 100%;
}
#budget .color-greypattern{
    background: url("../img_handbage/bags/polikarbonat/patterns/greypattern.png") no-repeat 50% 50%;
    background-size: 100%;
}

.radio-select{
	display: none;
}

.size{
	margin-top: 27px;
}

.size h5{
	font-size: 22px;
	text-transform: uppercase;
}

.size-item{
	margin-top: 18px;
}

.size-place__item{
	padding-top: 5px;
	width: 50px;
	height: 50px;
	-webkit-border-radius:	5px;
	-moz-border-radius:		5px;
	border-radius:			5px;
	border: 1px solid #f44236;
	text-align: center;
	color: #fff;
	display: inline-block;
	color: #f44236;
}
#budget .size-place__item{
	width: 35px;
	height: 35px;
}

.size-place__item span{
	display: block;
	color: #000;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 2px;
}

.size-place__item:hover,
.size-place__item.active{
	background: #f44236;
	color: #fff;
}

.size-place__item:hover span,
.size-place__item.active span{
	color: #fff;
}

.ruchnaya-klad{
	margin-top: 26px;
}

.ruchnaya-klad:after{
	content: '';
	display: block;
	clear: both;
}

.ruchnaya-klad img{
	float: left;
}

.ruchnaya-klad p{
	float: left;
	font-size: 20px;
    padding-left: 21px;
    padding-top: 14px;
}

.price{
	margin-top: 43px;
}

.price h5{
	font-size: 15px;
	margin: 0;
	text-transform: uppercase;
}

.price-item{
	font-size: 54px;
	margin: 0px;
}

.price-item span{
	font-size: 34px;
	text-transform: uppercase;
}

.b-podarok{
	background: #43c7fd;
	margin-top: 56px;
	padding-top: 29px;
}

.podarok-img{
	position: absolute;
	left: 0;
	bottom: 0;
}
.podarok-img img{
	width: 280px;
}

.buttons{
	margin-top: 0px;
}

.buttons a{
	text-align: center;
	font-size: 33px;
	width: 231px;
	height: 54px;
	line-height: 54px;
	-webkit-border-radius: 27px;
	-moz-border-radius: 27px;
	border-radius: 27px;
	background: #f44236;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.buttons a:hover{
	background: #ff2e20;
}

.podarok-right{
	padding-left: 293px;
}

.podarok-right-title{
	color: #292929;
	text-transform: uppercase;
	font-size: 40px;
    letter-spacing: 1px;
}

.podarok-right-title span{
	color: #f44236;
	position: relative;
}

.podarok-right-title span:before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -21px;
	height: 1px;
	z-index: 1;
	background: #292929;
}

.podarok-right-text{
	font-size: 18px;
	line-height: 28px;
	color: #292929;
	margin-top: 25px;
}

.podarok-line{
	margin-top: 27px;
	height: 1px;
	background: #f44236;
}

.podarok-container-bottom{
	padding-bottom: 33px;
}

.catalog_ch{
	margin-top: 24px;
}

.block5-ch{
	margin-top: 25px;
}

.block5-ch-title{
	text-align: center;
	padding: 0 15px;
	text-transform: uppercase;
	font-size: 49px;
	letter-spacing: 1.2px;
	border-bottom: 1px solid #292929;
	color: #292929;
	padding-bottom: 24px;
}

.block5-ch-title i{
    white-space: nowrap;
    font-style: normal;
}

.block5-ch-title span{
	color: #fc4482;
	position: relative;
}

.block5-ch-title span:before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -17px;
	height: 1px;
	background: #fc4482;
}

#covers{
	margin-top: 86px;
}

.catalog_ch-left{
	float: left;
	width: 380px;
	padding-right: 12px;
}

.catalog_ch-left .item:after{
	content: '';
	display: block;
	clear: both;
}

.catalog_ch-left .item .img{
	position: relative;
	width: 33.3333%;
	float: left;
	padding-right: 18px;
	margin-bottom: 18px;
	text-align: center;
	cursor: pointer;
}

.catalog_ch-left .item .img:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 18px;
	border: 1px solid #efefef;
	-webkit-transition:	all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	-o-transition:		all 0.3s ease;
	transition:			all 0.3s ease;
}

.catalog_ch-left .item .img:hover:before,
.catalog_ch-left .item .img.active:before{
	border-color: #fc4482;
	-webkit-box-shadow: 0 2px 5px rgba(151,22,65,.12);
	-moz-box-shadow: 0 2px 5px rgba(151,22,65,.12);
	box-shadow: 0 2px 5px rgba(151,22,65,.12);
}

.catalog_ch-left .item .img.active:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 24px;
	height: 24px;
	border: 1px solid #fc4482;
	background: url('../img_handbage/catalog_ch-check.png') no-repeat 50% 50%;
}

.catalog_ch-center{
	float: left;
	width: 350px;
	border: 1px solid #fc4482;
	-webkit-box-shadow: 0 2px 5px rgba(151,22,65,.12);
	-moz-box-shadow: 0 2px 5px rgba(151,22,65,.12);
	box-shadow: 0 2px 5px rgba(151,22,65,.12);
	text-align: center;
}

.catalog_ch-center .center-block{
	height: 575px;
}

.catalog_ch-right{
	float: left;
	width: 390px;
	padding-left: 30px;
}

.catalog_ch .span__red{
	font-size: 21px;
	margin-top: 50px;
}

.span__red span{
	color: #f44236;
}

.catalog_ch-right .color-black{
  background: #000;
}
.catalog_ch-right .color-blue{
  background: #2739b1;
}
.catalog_ch-right .color-purple{
    background: #462F87;
}
.catalog_ch-right .color-red{
    background: #DD3319;
}
.catalog_ch-right .color-bear {
    background: url("../img_handbage/bags/covers/patterns/1.png") no-repeat 50% 50%;
    background-size: 100%;
}
.catalog_ch-right .color-gepard {
    background: url("../img_handbage/bags/covers/patterns/3.png") no-repeat 50% 50%;
    background-size: 100%;
}
.catalog_ch-right .color-lips {
    background: url("../img_handbage/bags/covers/patterns/5.png") no-repeat 50% 50%;
    background-size: 100%;
}
.catalog_ch-right .color-abstract1 {
    background: url("../img_handbage/bags/covers/patterns/7.png") no-repeat 50% 50%;
    background-size: 100%;
}
.catalog_ch-right .color-abstract2 {
    background: url("../img_handbage/bags/covers/patterns/8.png") no-repeat 50% 50%;
    background-size: 100%;
}
.catalog_ch-right .color-abstract3 {
    background: url("../img_handbage/bags/covers/patterns/10.png") no-repeat 50% 50%;
    background-size: 100%;
}
.catalog_ch-right .color-abstract4 {
    background: url("../img_handbage/bags/covers/patterns/11.png") no-repeat 50% 50%;
    background-size: 100%;
}
.catalog_ch-right .color-abstract5 {
    background: url("../img_handbage/bags/covers/patterns/12.png") no-repeat 50% 50%;
    background-size: 100%;
}


.b-foto{
	margin-top: 39px;
	max-height: 1000px;
	overflow: hidden;
}

.foto-title{
	text-align: center;
	padding: 0 15px;
	text-transform: uppercase;
	font-size: 49px;
	letter-spacing: 1.2px;
	border-bottom: 1px solid #292929;
	color: #292929;
	padding-bottom: 30px;
}

.foto-title span{
	color: #2196f3;
	position: relative;
}

.foto-title span:before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -23px;
	height: 1px;
	background: #2196f3;
}

.foto-slider{
	margin-top: 57px;
	margin-left: auto;
	margin-right: auto;
	max-width: 919px;
}

.foto-slider img{
	margin-left: auto;
	margin-right: auto;
}

.foto-slider-list .slick-slide{
	padding: 6px 9px;
}

.foto-slider-list .slick-slide.slick-current:before{
	content: '';
	position: absolute;
	border: 1px solid #2e9cf4;
	left: 5px;
	right: 5px;
	top: 0;
	bottom: 0;
	-webkit-border-radius:	2px;
	-moz-border-radius:		2px;
	border-radius:			2px;
}

.foto-slider-list{
	margin-top: 18px;
}

.foto-slider-list:after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 127px;
	background-color: rgba(255,255,255,0);
	background-image: -webkit-linear-gradient(right, #fbfbfb, rgba(255,255,255,0));
	background-image: -moz-linear-gradient(right, #fbfbfb, rgba(255,255,255,0));
	background-image: -o-linear-gradient(right, #fbfbfb, rgba(255,255,255,0));
	background-image: -ms-linear-gradient(right, #fbfbfb, rgba(255,255,255,0));
	background-image: linear-gradient(to left, #fbfbfb, rgba(255,255,255,0));
}

.slick-arrow:focus,
.slick-slide:focus,
.slick-dots button:focus{
	outline: none;
}

.slick-arrow{ 
	position: absolute;
	text-indent: -9999px;
	font-size: 0;
	top: 50%;
	width: 26px;
	height: 48px;
	margin-top: -13px;
}

.slick-prev{
	left: -100px;
	background: url('../img_handbage/foto-arrow-left.png') no-repeat;
}

.slick-next{
	right: -100px;
	background: url('../img_handbage/foto-arrow-right.png') no-repeat;
}

.slick-prev:hover{
	background-image: url('../img_handbage/foto-arrow-left-hover.png');
}

.slick-next:hover{
	background-image: url('../img_handbage/foto-arrow-right-hover.png');
}

.slick-dots{
	text-align: center;
	position: absolute;
	bottom: -41px;
	left: 0;
	right: 0;
}

.slick-dots button{
	text-indent: -9999px;
	font-size: 0;
	width: 10px;
	height: 10px;
	background: transparent;
	border: 1px solid #dcdcdc;
	-webkit-border-radius:	50%;
	-moz-border-radius:		50%;
	border-radius:			50%;
}

.slick-dots li.slick-active button{
	background: #2196f3;
	border-color: #2196f3;
}

.slick-dots li{
	display: inline-block;
	margin: 0 5px;
}

.foto-slider-list .slick-prev{
	left: -9999px;
	display: none !important;
	visibility: hidden;
}

.foto-slider-list .slick-next{
	width: 18px;
	height: 34px;
	margin-top: -17px;	
	background: url('../img_handbage/foto-arrow-right-list.png') no-repeat;
	right: 15px;
	z-index: 1;
}

.foto-slider-list .slick-next:hover{
	background-image: url('../img_handbage/foto-arrow-right-list-hover.png');
}

.b-video{
	margin-top: 94px;
}

.video-title{
	text-align: center;
	padding: 0 15px;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 1px;
	border-bottom: 1px solid #292929;
	color: #292929;
	padding-bottom: 8px;
}

.video-title span{
	color: #8bc24a;
	position: relative;
	line-height: 100px;
}

.video-title:before{
	content: '';
	position: absolute;
	left: 50%;
	width: 760px;
	margin-left: -380px;
	bottom: -1px;
	height: 1px;
	background: #8bc24a;
}

.video-row{
	margin-top: 80px;
}

.video-row-left{
	float: left;
	width: 50%;
	padding-right: 15px;
}

.video-row-right{
	float: left;
	width: 50%;
	padding-left: 15px;
}

.b-prod{
	padding-top: 90px;
	padding-bottom: 66px;
	background: #252525 url('../img_handbage/bg_logos.png');
	color: #3c434d;
}

.prod-left{
	float: left;
	width: 50%;
}

.prod-left{
	margin: 0 -10px;
}

.prod-left .col-3{
	padding: 0 10px;
	margin-bottom: 27px;
}

.prod-left img{
	border: 1px solid #ff5724;
}

.prod-right{
	float: right;
	width: 50%;
	padding-left: 30px;
}

.prod-right-title{
	text-transform: uppercase;
	color: #ffea3c;
	font-size: 50px;
	margin-top: -9px;
}

.prod-right-text{
	font-size: 22px;
	line-height: 30px;
	color: #fff;
	margin-top: 35px;
}

.prod-right-adres{
	font-size: 26px;
	color: #b6b6b6;
	margin-top: 57px;
    line-height: 1.3;
}

.b-teh{
	padding-top: 52px;
}

.teh-title{
	text-align: center;
	color: #252525;
	font-size: 54px;
}

.teh-subtitle{
	text-align: center;
	color: #909090;
	font-size: 21px;
	margin-top: 20px;
	line-height: 1.3;
}

.teh-row{
	margin-top: 53px;
}

.teh-row-left{
	width: 60%;
	float: left;
}

.teh-row-right{
	width: 40%;
	float: left;
	margin-top: 26px;
}

.teh-row-left-left_img{
	
}

.teh-row-left-left_img-text{
	top: 26px;
    left: 238px;
    width: 221px;
    position: absolute;
}

.teh-row-left-img2{
	position: absolute;
    left: -200px;
    top: 26px;
}

.teh-row-left-img3{
	position: absolute;
    left: -242px;
    top: 0;
}

.teh-row-title{
	text-transform: uppercase;
	font-size: 25px;
	color: #f44236;
	line-height: 1.3;
}

.teh-row-text{
	color: #7f7f7f;
	font-size: 16px;
    margin-top: 19px;
    line-height: 1.5;
}

.teh-row-right-2{
	margin-top: 78px;
}

.b-rev{
	margin-top: 107px;
}

.rev-title{
    text-align: center;
    padding: 0 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 47px;
    border-bottom: 1px solid #292929;
    color: #292929;
    padding-bottom: 38px;
}

.rev-title span{
    color: #00bcd5;
    position: relative;
}

.rev-title span:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -31px;
    height: 1px;
    background: #00bcd5;
}

.rev-title i{
	white-space: nowrap;
	font-style: normal;
}

.rev-foto{
	margin-top: 75px;
	margin-left: -15px;
	margin-right: -15px;
}

.rev-foto .col-4{
	padding: 0 15px;
	margin-bottom: 30px;
}

.rev-video{
	margin-left: -15px;
	margin-right: -15px;
}

.rev-video .col-4{
	padding: 0 15px;
}

.rev-video .col-4 .youtube-r{
    padding-bottom: 123.25%;
}

.b-insta{
	margin-top: 37px;
	margin-bottom: 86px;
}

.b-deli{
	
}

.deli-title{
    text-align: center;
    padding: 0 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 44px;
    border-bottom: 1px solid #292929;
    color: #292929;
    padding-bottom: 31px;
}

.deli-title span{
    color: #f44236;
    position: relative;
}

.deli-title span:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -24px;
    height: 1px;
    background: #f44236;
}

.deli-bg{
	background: url('../img_handbage/deli.jpg') no-repeat;
}

.deli-bg .container{
	height: 594px;
}

.deli-bg-box{
	width: 443px;
	position: absolute;
	top: 50%;
	margin-top: -215px;
}

.deli-bg-box-header{
	font-size: 44px;
	color: #292929;
	text-align: center;
	padding: 24px 15px 30px 15px;
	background: #ffea3c;
}

.deli-bg-box-body{
	background: rgba(0,0,0,0.8);
	padding: 30px 25px 46px 25px;
}

.deli-bg-box-body-t1{
	font-size: 31px;
	line-height: 39px;
	color: #fff;
}

.deli-bg-box-body-t1 span{
	color: #ffea3c;
	display: inline-block;
	border-bottom: 1px solid #ffea3c;
}

.deli-bg-box-body-t2{
	color: #fff;
	font-size: 17px;
	line-height: 28px;
	margin-top: 27px;
}

.b-shop{
	margin-top: 26px;
}

.shop-title{
    text-align: center;
    padding: 0 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 47px;
    border-bottom: 1px solid #292929;
    color: #292929;
    padding-bottom: 31px;
}

.shop-title span{
    color: #8bc24a;
    position: relative;
}

.shop-title span:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -24px;
    height: 1px;
    background: #8bc24a;
}

.shop-bg{
	background: url('../img_handbage/shop.jpg') no-repeat;
	background-size: 80%;
}

.shop-bg .container{
	height: 741px;
}

.shop-bg-box{
	width: 542px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -247px;
	text-align: center;
}

.shop-bg-box-header{
	background: #fff;
	color: #292929;
	padding: 55px 15px 52px 15px;
}

.shop-bg-box-header-title{
	font-size: 53px;
}

.shop-bg-box-header-adres{
	font-size: 26px;
	margin-top: 10px;
}

.shop-bg-box-body{
	padding: 30px 15px 85px 15px;
	background: rgba(0,0,0,0.8);
}

.shop-bg-box-body-t1{
	color: #fff;
	font-size: 24px;
	line-height: 31px;
}

.shop-bg-box-body-t1 span{
	color: #ffea3c;
}

.shop-bg-box-body-t2{
	color: #fff;
	font-size: 17px;
	line-height: 23px;
	margin-top: 22px;
}

.b-contact{
	margin-top: 64px;
	padding-bottom: 150px;
}

.contact-map{
	float: left;
	width: 57%;
}

#map{
	height: 419px;
	background: #ccc;
}

.contact-right{
	float: right;
	width: 43%;
	padding-left: 30px;
}

.contact-right-city{
	font-size: 55px;
	text-transform: uppercase;
}

.contact-right-shop{
	font-size: 25px;
	margin-top: 2px;
}

.contact-right-row{
	margin-top: 56px;
}

.contact-right-row-left{
	float: left;
	width: 148px;
	font-size: 20px;
	color: #03a9f3;
}

.contact-right-row-right{
	float: left;
	font-size: 20px;
	line-height: 25px;
	width: 240px;
}

.contact-right-row-item{
	margin-bottom: 29px;
}

.contact-bottom{
	font-size: 19px;
	line-height: 1.3;
	margin-top: 65px;
}

.contact-bottom-politika{
	margin-top: 33px;	
}

.contact-bottom-politika a{
	color: #337ab7;
	display: inline-block;
	border-bottom: 1px solid #337ab7;
}

.overlay{
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(22,22,22,0.5);
	z-index: 101;
}

.popup{
	display: none;
	top: 20px;
	left: 50%;
	margin-left: -332px;
	position: absolute;
	width: 664px;
	background: #fff;
	-webkit-box-shadow: 0 11px 60px rgba(0,0,0,.5);
	-moz-box-shadow: 0 11px 60px rgba(0,0,0,.5);
	box-shadow: 0 11px 60px rgba(0,0,0,.5);
	z-index: 102;
}

.popup-close{
	position: absolute;
	right: 25px;
	top: 40px;
	width: 22px;
	height: 21px;
	background: url('../img_handbage/popup-close.png') no-repeat;
	z-index: 1;
}

.popup-header{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 47px;
    border-bottom: 1px solid #292929;
    color: #292929;
    padding: 25px 15px 25px 15px;
}


.popup-header span{
    color: #fc4482;
    position: relative;
}


.popup-header span:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -18px;
    height: 1px;
    background: #fc4482;
}

.popup-product{
	margin-top: 20px;
	max-width: 580px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.popup-product:after{
	content: '';
	display: block;
	clear: both;
}

.popup-product-left{
	float: left;
	width: 170px;
}

.popup-product-left img{
	max-height: 180px;
	width: auto;
}

.popup-product-center{
	float: left;
	font-size: 32px;
	padding-top: 77px;
}

.popup-product-right{
	margin-top: 74px;
	float: right;
	width: 37px;
	height: 37px;
	-webkit-border-radius:	50%;
	-moz-border-radius:		50%;
	border-radius:			50%;
	background: #9f5bf4;
}

.popup-product-right:after{
    content: '';
    position: absolute;
    background: url(../img_handbage/catalog-check-white.png) no-repeat 50% 50%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.popup-total{
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding-top: 23px;
	padding-bottom: 26px;
	text-align: right;
}

.popup-total-inner{
	max-width: 580px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.popup-total-deli{
	font-size: 15px;
}

.popup-total-total{
	font-size: 18px;
	padding-top: 5px;
}

.popup-total-total span{
	font-size: 26px;
}

.popup-form{
	background: #f8f8f8;
	padding-top: 40px;
	padding-bottom: 40px;
}

.popup-form-inner{
	max-width: 580px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.popup-form-inner input[type="text"]{
	color: #000;
	font-size: 20px;
	display: block;
	width: 100%;
	height: 44px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #f44236;
	padding: 0 15px;
	margin-bottom: 30px;
}

.popup-form-inner input[type="text"].error{
	-moz-box-shadow:	0px -4px 0 0 #f44236;
	-webkit-box-shadow: 0px -4px 0 0 #f44236;
	box-shadow: 		0px -4px 0 0 #f44236;
}

.popup-form .row{
	margin: 0 -7px;
}

.popup-form .row .col-2{
	padding: 0 7px;
}

.popup-form .buttons{
	text-align: center;
	margin-top: 0;
}

.b-thank{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 47px;
    border-bottom: 1px solid #292929;
    color: #292929;
    padding: 19px 15px 25px 15px;
}

.b-thank span{
    color: #fc4482;
    position: relative;
}

.b-thank span:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -18px;
    height: 1px;
    background: #fc4482;
}

.b-thank > div{
	display: inline-block;
	padding-left: 41px;
}

.b-thank > div img{
	position: absolute;
    left: -21px;
    top: 14px;
}

.b-thank-text{
	text-align: center;
	font-size: 32px;
	padding-top: 23px;
	padding-bottom: 32px;
	-webkit-box-shadow: 0 11px 60px rgba(0,0,0,.5);
	-moz-box-shadow: 0 11px 60px rgba(0,0,0,.5);
	box-shadow: 0 11px 60px rgba(0,0,0,.05);
}

.b-thank-text span{
	font-size: 24px;
	display: block;
	padding-top: 4px;
}

.b-thank-main{
	border-top: 1px solid #e6e6e6;
	padding-top: 50px;
}

.thank-main-left{
	float: left;
	padding-right: 15px;
	width: 50%;
}

.thank-main-right{
	float: left;
	padding-left: 15px;
	max-width: 458px;
}

.thank-main-left-act{
	display: inline-block;
	font-size: 56px;
	background: #f44236;
	color: #fff;
	padding-bottom: 4px;
    letter-spacing: 1px;
    padding-left: 9px;
    padding-right: 5px;
}

.thank-main-right .row{
	margin: 0 -5px
}

.thank-main-right .col-3{
	padding: 0 5px;
	text-align: center;
	margin-bottom: 10px;
}

.thank-main-right .col-3 a{
	display: block;
	border: 1px solid #202020;
	padding: 5px 5px;
}

.thank-main-left-price{
	margin-top: 26px;
}

.thank-main-left-price-item{
	margin-bottom: 46px;
}

.thank-main-left-price-item-title{
	font-size: 28px;
	text-transform: uppercase;
}

.thank-main-left-price-item-title span{
}

.thank-main-left-price-item-price{
	font-size: 36px;
	margin-top: 11px;
}

.thank-main-left-price-item-price span{
	position: relative;
	display: inline-block;
	margin-left: 7px;
}

.thank-main-left-price-item-price span:before{
	content: '';
	position: absolute;
	height: 3px;
	background: #f44236;
	width: 110%;
	left: 0;
	top: 14px;
	-webkit-transform: rotate(6deg);
	-ms-transform: rotate(6deg); 
	transform: rotate(6deg);	
}

.thank-main-left-price-item-price span:after{
	content: '';
	position: absolute;
	height: 3px;
	background: #f44236;
	width: 110%;
	left: 0;
	top: 16px;
	-webkit-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg); 
	transform: rotate(-6deg);	
}

.thank-main-left-price-item-price a{
	margin-left: 19px;
    top: -4px;
    position: relative;
	display: inline-block;
	text-align: center;
	color: #fff;
	height: 44px;
	line-height: 44px;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	background: #fec107;
	padding: 0 20px;
	font-size: 24px;
}

.b-thank-thank{
	border-top: 1px solid #e6e6e6;
	font-size: 32px;
	text-align: center;
    padding-top: 47px;
    margin-top: 45px;
    padding-bottom: 50px;
}

.b-thank-thank a{
	border-bottom: 2px solid #000;
}

.b-thank-view{
	background: url('../img_handbage/thank-bg.png');
	min-height: 500px;
}

.b-thank-view-middle{
	text-align: center;
	top: 50px;
}

.b-thank-view-t1{
	display: inline-block;
	font-size: 49px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.b-thank-view-t1 span{
	color: #fc4482;
}

.b-thank-view-t1 img{
	position: absolute;
    left: -55px;
    top: 12px;
}

.b-thank-view-t2{
	margin-top: 55px;
	text-align: center;
	font-size: 32px;
	line-height: 1.5;
}